html, body {
    overflow: hidden;
}

#months > tbody > tr > td {
    padding-right: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#calendar {
    border-collapse: collapse;
    width: 100%;
}

#calendar, #calendar > thead > tr > th, #calendar > tbody > tr > td {
    border: 1px solid;
}

#calendar > thead > tr > th {
    text-align: center;
}

#calendar > tbody > tr > td {
    width: 14%;
    height: 50px;
    padding: 15px;
    text-align: center;
}

.not-available {
    background-color:gray;
}

.prenotato {
    background-color:forestgreen;
}

.hidden {
    display: none;
}

#err-msg {
    color:firebrick;
}

.container {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid rgb(155, 144, 144);
    font-size: 16px;
}

.submit-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.submit-btn:hover {
    background-color: #45a049;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 16px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}