#months > tbody > tr > td {
    padding-right: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#calendar {
    border-collapse: collapse;
    width: 100%;
}

#calendar, #calendar > thead > tr > th, #calendar > tbody > tr > td {
    border: 1px solid;
}

#calendar > thead > tr > th {
    text-align: center;
}

#calendar > tbody > tr > td {
    width: 14%;
    height: 50px;
    padding: 15px;
    text-align: center;
}

.not-available {
    background-color:gray;
}

.hidden {
    display: none;
}

#err-msg {
    color:firebrick;
}